<form name="matchesForm">
    <div id="matches" flex layout="column">
        <h1 class="text-align-center">Past matches</h1>
        <div flex layout="column" ng-repeat="day in vm.PreviousDays" style="opacity: 0.5">
            <div class="day" layout="row">
                <div flex="none">
                    <p class="md-caption">{{day.Date|date:"dd.MM.yyyy"}}</p>
                </div>
            </div>
            <div flex layout="column" ng-repeat="match in day.Matches">

                <div layout="row">
                    <div flex layout="row" layout-align="end center">
                        <h1 class="md-title left-text">{{match.Team1}}</h1>
                        <span class="flag flag-{{match.Acronym1}}"></span>
                    </div>
                    <div flex="none" layout="row" class="vs" layout-align="center center">
                        <h1 class="md-caption">vs</h1>
                    </div>
                    <div flex layout="row" layout-align="start center">
                        <span class="flag flag-{{match.Acronym2}}"></span>
                        <h1 class="md-title right-text">{{match.Team2}}</h1>
                    </div>
                </div>
                <div class="md-caption text-align-center">final score</div>
                <div layout="row">
                    <div flex layout="row" layout-align="end start">
                        <h1 class="md-display-1 left-text no-margin">{{match.Score1}}</h1>
                    </div>
                    <div flex="none" layout="row" class="vs" layout-align="center center">

                    </div>
                    <div flex layout="row">
                        <h1 class="md-display-1 right-text no-margin">{{match.Score2}}</h1>
                    </div>
                </div>
                <div class="md-caption text-align-center">your bet</div>
                <div layout="row">
                    <div flex layout="row" layout-align="end start">
                        <h1 class="md-display-1 left-text no-margin">{{match.Guess1}}</h1>
                    </div>
                    <div flex="none" layout="row" class="vs" layout-align="center center">

                    </div>
                    <div flex layout="row">
                        <h1 class="md-display-1 right-text no-margin">{{match.Guess2}}</h1>
                    </div>
                </div>
                <div class="md-caption no-margin text-align-center">You won {{match.PointsGained||'0,-'}}<span class="coin-small"></span> for this match.</div>
               
                <div flex class="match-separator" ng-show="!$last">&nbsp;</div>
            </div>
        </div>

        <h1 id="nextMatches" class="text-align-center" style="margin-top:100px">Next matches</h1>
        <div flex layout="column" ng-repeat="day in vm.NextDays">
            <div class="day" layout="row">
                <div flex="none">
                    <p class="md-caption">{{day.Date|date:"dd.MM.yyyy"}}</p>
                </div>
            </div>
            <div flex layout="column" ng-repeat="match in day.Matches">
                <div flex layout="row" layout-align="center center">
                    <p class="md-caption">{{match.Date|date:"HH:mm"}}</p>
                </div>
                <div layout="row">
                    <div flex layout="row" layout-align="end center">
                        <h1 class="md-title left-text">{{match.Team1}}</h1>
                        <span class="flag flag-{{match.Acronym1}}"></span>
                    </div>
                    <div flex="none" layout="row" class="vs" layout-align="center center">
                        <h1 class="md-caption">vs</h1>
                    </div>
                    <div flex layout="row" layout-align="start center">
                        <span class="flag flag-{{match.Acronym2}}"></span>
                        <h1 class="md-title right-text">{{match.Team2}}</h1>
                    </div>
                </div>
                <div layout="column">
                    <div layout="row">
                        <div flex layout="row" layout-align="end start">
                            <md-input-container class="md-block your-score" flex="none">
                                <label>your score</label>
                                <input type="text"  ng-disabled="match.IsPlaceholder" step="any" name="score_{{match.Id}}_1" ng-model="match.Guess1" ng-pattern="/^\d+$/" class="md-title text-align-right" ng-change="scoreChange(match.Id, true, match.Guess1)" />
                                <div ng-messages="matchesForm['score_' + match.Id + '_1'].$error" multiple md-auto-hide="false">
                                    <div ng-message="pattern">Not a number!</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex="none" class="vs"></div>
                        <div flex class="text-align-left">
                            <md-input-container class="md-block your-score" flex="none">
                                <label>your score</label>
                                <input ng-disabled="match.IsPlaceholder" type="text" step="any" name="score_{{match.Id}}_2" ng-model="match.Guess2" ng-pattern="/^\d+$/" class="md-title" ng-change="scoreChange(match.Id, false, match.Guess2)" />
                                <div ng-messages="matchesForm['score_' + match.Id + '_2'].$error" multiple md-auto-hide="false">
                                    <div ng-message="pattern">Not a number!</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>