<div id="matches" flex layout="column" layout-padding>
    <div layout="column">
        <div layout="row">
            <div flex="20"></div>
            <div flex="10" class="text-align-center">place</div>
            <div flex="10" class="text-align-center"><span class="coin"></span></div>
            <div flex></div>
        </div>
        <div layout="row">
            <div flex="20"><h1 class="no-margin">{{vm.Name}}</h1></div>
            <div flex="10"><h1 class="no-margin text-align-center">{{vm.Place}}</h1></div>
            <div flex="10"><h1 class="no-margin text-align-center">{{vm.TotalPoints}}</h1></div>
            <div flex></div>
        </div>
    </div>
    <h3>{{vm.Name}}'s bets for past matches:</h3>
    <div layout="row" class="day">
        <div flex="25"></div>
        <div flex="10" class="text-align-center">final score</div>
        <div flex="10" class="text-align-center">user's bet</div>
        <div flex="20">gains</div>
    </div>
    <div flex layout="column" ng-repeat="day in vm.PreviousDays">
        <div class="md-caption">{{day.Date|date:"dd.MM.yyyy"}}</div>
        <div flex layout="column" ng-repeat="match in day.Matches">
            <div layout="row">
                <div flex="25">
                    <div>{{match.Team1}} - {{match.Team2}}</div>
                </div>
                <div flex="10" class="text-align-center">
                    <div ng-show="(match.Score1!=null) && (match.Score2!=null)">{{match.Score1}} : {{match.Score2}}</div>
                    <div class="md-caption" ng-hide="(match.Score1!=null) && (match.Score2!=null)">no data yet</div>
                </div>
                <div flex="10" class="text-align-center">
                    <div ng-show="(match.Guess1!=null) && (match.Guess2!=null)">{{match.Guess1}} : {{match.Guess2}}</div>
                    <div class="md-caption" ng-hide="(match.Guess1!=null) && (match.Guess2!=null)">no bet</div>
                </div>
                <div flex="20">
                    <div>{{match.PointsGained || '0,-'}}<span class="coin-small"></span></div>
                </div>
            </div>
            <div flex class="match-separator" ng-show="!$last">&nbsp;</div>
        </div>

    </div>
    <h3>{{vm.Name}}'s bets for next matches:</h3>
    <div layout="row" class="day">
        <div flex="25"></div>
        <div flex="10" class="text-align-center">final score</div>
        <div flex="10" class="text-align-center">user's bet</div>
        <div flex="20">gains</div>
    </div>
    <div flex layout="column" ng-repeat="day in vm.NextDays">
        <div class="md-caption">{{day.Date|date:"dd.MM.yyyy"}}</div>
        <div flex layout="column" ng-repeat="match in day.Matches">
            <div layout="row">
                <div flex="25">
                    <div>{{match.Team1}} - {{match.Team2}}</div>
                </div>
                <div flex="10" class="text-align-center">
                    <div class="md-caption">match not played yet</div>
                </div>
                <div flex="10" class="text-align-center">
                    <div ng-show="(match.Guess1!=null) && (match.Guess2!=null)">{{match.Guess1}} : {{match.Guess2}}</div>
                    <div class="md-caption" ng-hide="(match.Guess1!=null) && (match.Guess2!=null)">no bet</div>
                </div>
                <div flex="20">
                    <div class="md-caption">&mdash;</div>
                </div>
            </div>
            <div flex class="match-separator">&nbsp;</div>
        </div>

    </div>

</div>