<!DOCTYPE html>
<html lang="en" ng-app="euro2016">

<head>
    <title>@ CB EURO 2016</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body layout="column" ng-controller="homeCtrl" ng-cloak>

    <div id="loader" ng-hide="isDataLoaded" flex layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <md-toolbar layout="row" class="md-tall" layout-align="start center">
        <h1 flex class="title" ng-click="gotoHome()">Commerzbank EURO 2016</h1>
        <span flex="none" class="euro"></span>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4" md-sidenav="left" class="md-sidenav-left">
            <md-content layout-padding>
                <p class="text-align-center hello">Hello, </p>
                <md-input-container class="md-block your-name" flex="none">
                    <input type="text" class="text-align-center" name="name" ng-model="vm.Name" ng-change="nameChange()" />
                </md-input-container>

                <div layout="row" layout-align="space-around center">
                    <div class="md-caption">you have</div>
                    <div class="md-caption">your place</div>
                </div>
                <div layout="row" layout-align="space-around center">
                    <div class="md-headline">{{vm.TotalPoints}} <span class="coin"></span></div>
                    <div class="md-headline">#{{vm.Place}}</div>
                </div>
                <h3>Top 5</h3>
                <ul>
                    <li ng-repeat="user in vm.Top5Users">{{$index+1}}. {{user.Name}} - {{user.TotalPoints}} <span class="coin-small"></span></li>
                </ul>
                <md-button class="md-raised md-primary viewTop" ng-click="gotoTop()">View Top</md-button>

                <h3>Groups</h3>
                <ul>
                    <li ng-repeat="group in vm.Groups"><a href="" ng-click="gotoGroup(group.Id)" class="normal-link">{{group.Name}}</a></li>
                </ul>
            </md-content>
            <md-button class="md-primary" ng-click="gotoHelp();" >How this works?</md-button>
        </md-sidenav>

        <md-content flex id="content" ui-view>

        </md-content>
    </div>
    <script src="js/vendor.bundle.js"></script>
    <script src="js/bundle.js"></script>
</body>
</html>