.flag {
    background-image: url('../images/flags.png');
    background-size: 160px 352px;
    display: block;
    width: 32px;
    height: 32px;
}

.flag-ALB {
    background-position: 100% 100%;
}

.flag-FRA {
    background-position: 25% 30%;
}

.flag-ROU {
    background-position: 25% 80%;
}

.flag-SUI {
    background-position: 50% 90%;
}

.flag-ENG {
    background-position: 75% 20%;
}

.flag-RUS {
    background-position: 50% 80%;
}

.flag-SVK {
    background-position: 75% 90%;
}

.flag-WAL {
    background-position: 50% 100%;
}

.flag-GER {
    background-position: 100% 30%;
}

.flag-NIR {
    background-position: 50% 70%;
}

.flag-UKR {
    background-position: 25% 100%;
}

.flag-CRO {
    background-position: 100% 10%;
}

.flag-CZE {
    background-position: 25% 20%;
}

.flag-ESP {
    background-position: 25% 90%;
}

.flag-TUR {
    background-position: 0% 100%;
}

.flag-BEL {
    background-position: 0% 10%;
}

.flag-ITA {
    background-position: 25% 50%;
}

.flag-IRL {
    background-position: 100% 40%;
}

.flag-SWE {
    background-position: 100% 90%;
}

.flag-AUT {
    background-position: 75% 0;
}

.flag-HUN {
    background-position: 50% 40%;
}

.flag-ISL {
    background-position: 75% 40%;
}

.flag-POR {
    background-position: 0 80%;
}

.flag-POL {
    background-position: 100% 70%;
}

.left-text {
    margin-right: 10px;
}

.right-text {
    margin-left: 10px;
}

#content {
    margin: 10px;
}

.no-margin {
    margin: 0;
}

.your-score {
    margin: 10px 0 0 0;
    width: 80px;
}

.your-name {
    font-size: 45px;
    margin-top: 0;

    input {
        height: 50px;
    }
}

.day {
    border-bottom: 1px solid silver;
}

.vs {
    width: 30px;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

#loader {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;

    &.ng-hide-add {
        transition: 0.3s ease-in opacity;
        opacity: 1;
    }

    &.ng-hide-add-active {
        opacity: 0;
    }
}

.coin {
    background-image: url('../images/coin-24.png');
    width: 24px;
    height: 24px;
    display: inline-block;
}

.coin-small {
    background-image: url('../images/coin-16.png');
    width: 16px;
    height: 16px;
    display: inline-block;
}

md-toast.md-success-toast-theme {
    .md-toast-content {
        background-color: green;
    }
}

md-toast.md-error-toast-theme {
    .md-toast-content {
        background-color: red;
    }
}

.viewTop {
    width: 50px;
}

.subtitle {
    margin: 50px 0 5px 30px;
}

.button-subtitle {
    margin-left: 30px;
}

.normal-link {
    &:link {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.para {
    margin: 0 5px 5px 30px;
}

.euro {
    background-image: url('../images/euro-2016.png');
    width: 142px;
    height: 200px;
    margin-top: 190px;
    margin-right: 100px;
}

.title {
    color: white;
    margin-left: 50px;
}

.match-separator {
    border-bottom: 1px dashed silver;
    margin-bottom: 10px;
}

.hello {
    margin-bottom: 0;
}

.virtualRepeatdemoInfiniteScroll #vertical-container {
  height: 292px;
  width: 100%;
  max-width: 400px; }
.virtualRepeatdemoInfiniteScroll .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }
.virtualRepeatdemoInfiniteScroll md-content {
  margin: 16px; }
.virtualRepeatdemoInfiniteScroll md-virtual-repeat-container {
  border: solid 1px grey; }
.virtualRepeatdemoInfiniteScroll .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px; }